*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.searsh{
    height: 35px;
    margin: 20px;
    text-decoration: none;
}
.btn_add_promotion{
    margin: 20px;
}
#btn_addBrief{
    margin-left: 45%;
    margin-top: 20px;
}
#contant{
    margin-left: 45px;
    margin-bottom: 25px;
}
#card_addBrief{
    margin-left: 40%;
    margin-top: 10%;
}
#card_addTask{
    margin-left: 40%;
    margin-top: 10%;
}